@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --bg-color: #f9f9f9;
  --assistant-color: #e6e6e6;
  --heading-color: #0f4c80;
  --font-color: #0009;
  --theme-color: #0f4c80;
  --theme-color-darken: #0c3c66; // Usar una versión oscura manual
  --border-color: #bebebe;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.summary-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  color: var(--heading-color);
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.form-paper {
  padding: 3rem;
  background-color: var(--assistant-color);
  border-radius: 2rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

.tab-panel {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--assistant-color);
 
  font-family: 'Poppins', sans-serif;

  .phase-title {
    color: var(--heading-color);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: var(--font-color);
      margin-bottom: 4px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;

  .edit-button, .add-button, .save-button {
    background-color: var(--theme-color);

    &:hover {
      background-color: var(--theme-color-darken); // Usar la versión oscura manual
    }
  }
}




button.custom-button {
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Poppins', sans-serif;
  box-shadow: none; /* Quitar la sombra */

  &:hover {
    background-color: var(--theme-color-darken);
    box-shadow: none; /* Quitar la sombra */
  }
}


